<div class="block">

<p id="notice"><%= notice %></p>

<p>
  <strong>First Word:</strong>
  <%= @dado.word1 %>
</p>

<p>
  <strong>Second Word:</strong>
  <%= @dado.word2 %>
</p>

<p>
  <strong>Result:</strong>
  <%= @dado.result %>
</p>

<%= link_to 'Back', dados_path %>

</div>
